<section class="h-100 gradient-custom"
  style="margin-top:-20px;margin-bottom:-50px">
  
  <ng-container *ngIf="products.length ==0">
    <div class="card">
      <h4 class="card-title">JZTR</h4>
      <div class="center">
        <img src="https://cdn-icons-png.flaticon.com/512/2945/2945609.png" alt="">
        <h5>Mua hang coi</h5>
        <h6>Mua di ne</h6>
        <button class="btn btn-dark" routerLink="home">CHOT DON</button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="products.length !=0">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Giỏ hàng - 2 sản phẩm</h5>
          </div>
          
            <div class="card-body" *ngFor="let item of products, let i = index">
              <!-- Single item -->
              <div class="row">
                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                  <!-- Image -->
                  <div class="bg-image hover-overlay hover-zoom ripple rounded"
                    data-mdb-ripple-color="light">
                    <img src="../../../assets/{{item.image[0]}}"
                      class="w-100" alt="{{item.name}}" />
                    <a href="/dog">
                      <div class="mask" style="background-color: rgba(251, 251,
                        251, 0.2)"></div>
                    </a>
                  </div>
                  <!-- Image -->
                </div>
  
                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <!-- Data -->
                  <p><strong>{{item.name}}</strong></p>
                    
                  <!-- <p>Color: blue</p> -->
                  <p >{{item.weight}}</p>
                  <button (click)="removeProduct(item)" type="button" class="btn btn-light btn-sm me-1 mb-2"
                    data-mdb-toggle="tooltip"
                    title="Remove item">
                    <i class="fas fa-trash"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm mb-2"
                    data-mdb-toggle="tooltip"
                    title="Move to the wish list">
                    <i class="fas fa-heart"></i>
                  </button>
                  <!-- Data -->
                </div>
  
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                  <!-- Quantity -->
                  <!-- <p style="text-align: center !important;">Số lượng</p> -->
                  <!-- <p>Số lượng</p> -->
  
                  <div class="d-flex mb-4" style="max-width: 300px">
                    <button class="btn btn-dark px-3 me-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                      <i class="fas fa-minus"></i>
                    </button>
  
                    <!-- <div class="form-outline">
                        <input style="text-align: center !important;" id="form1" min="0" name="quantity" value="1" type="number" class="form-control" />
                        <label class="form-label" for="form1">Quantity</label>
                      </div> -->
                    <label class="input">
                      <input style="text-align: center !important;"
                        class="input__field" id="form1" min="0" name="quantity"
                        value="1" type="number" />
                      <span class="input__label">Số lượng</span>
                    </label>
                    <button class="btn btn-dark px-3 ms-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                  <!-- Quantity -->
  
                  <!-- Price -->
                  <p class="text-start text-md-center">
                    <strong>500.000 VNĐ</strong>
                  </p>
                  <!-- Price -->
                </div>
              </div>
              <!-- Single item -->
  
              <hr class="my-4" />
  
            </div>
        
          
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <p><strong>Ngày giao hàng dự kiến</strong></p>
            <p class="mb-0">01.06.2022 - 03.06.2022</p>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <p><strong>Chúng tôi chấp nhận thanh toán</strong></p>
            <div class="grid" style="--bs-columns: 4; --bs-gap: 5rem;">
              <div class="g-col-2">
                <div class="form-check">
                  <input class="form-check-input" type="radio"
                    name="flexRadioDefault" id="flexRadioDefault2" checked/>
                  <label class="form-check-label" for="flexRadioDefault2">
                    Chuyển khoản </label>
                </div>
                <img class="me-2" width="45px"
                  src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                  alt="Visa" />
                <img class="me-2" width="45px"
                  src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                  alt="Mastercard" />
                <img class="me-2" width="45px"
                  src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                  alt="American Express" />
              </div>
              <div class="g-col-2" style="margin-top: 10px;">
                <div class="form-check">
                  <input class="form-check-input" type="radio"
                    name="flexRadioDefault" id="flexRadioDefault1" />
                  <label class="form-check-label" for="flexRadioDefault1"> COD
                    (Thanh toán khi nhận hàng) </label>
                </div>
              </div>
            </div>


            <!-- <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.webp"
                alt="PayPal acceptance mark" /> -->
          </div>
        </div>
        <br>
        <!-- <a class="btn btn-primary btn-lg btn-block" href="/payment">
            Go to checkout
          </a> -->
      </div>

      <!-- Div điền thông tin thanh toán của khách hàng, đã backup trong notepad -->
      <!-- Copy lại tại đây -->
      <div class="col-md-4 phanThanhToan">
        <div class="card mb-4">

          <div class="card text-white rounded-3" style="background-color: #db7093">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center
                mb-4">
                <h5 class="mb-0">Thông tin giao hàng</h5>
                <img id="avatarCustomerFromHeader" src="{{message}}"
                  class="img-fluid rounded-3" style="width: 45px; height:45px;"
                  alt="">
              </div>
              <form class="mt-4">
                <div class="form-outline form-white mb-4">
                  <mat-form-field style="border-color:white !important;
                    width:100%; height:1px !important" class="form-white"
                    appearance="outline">
                    <mat-label style="color:white !important;"
                      class="form-label" for="typeText">Họ và tên</mat-label>
                    <input matInput type="text" id="typeName"
                      placeholder="">
                  </mat-form-field>
                </div>

                <div class="form-outline form-white mb-4">
                  <mat-form-field style="border-color:white !important;
                    width:100%; height:1px !important" class="form-white"
                    appearance="outline">
                    <mat-label style="color:white !important;"
                      class="form-label" for="typeText">Địa chỉ nhận hàng</mat-label>
                    <input matInput type="text" id="typeText" 
                      placeholder="" >
                  </mat-form-field>
                </div>

                <div class="row mb-4">
                  <div class="col-md-6">
                    <mat-form-field style="border-color:white !important;
                      width:100%; height:1px !important" class="form-white"
                      appearance="outline">
                      <mat-label style="color:white !important;"
                        class="form-label" for="typeText">Số điện thoại</mat-label>
                      <input matInput type="text" id="typeExp"
                        placeholder="" size="7" id="exp" minlength="10"
                        maxlength="10">
                    </mat-form-field>
                  </div>
                  <br>
                  <br>
                  <br>
                  <div class="col-md-6">
                    <mat-form-field style="border-color:white !important;
                      width:100%; height:1px !important" class="form-white"
                      appearance="outline">
                      <mat-label style="color:white !important;"
                        class="form-label" for="typeText">Ghi chú</mat-label>
                      <input matInput type="text" id="typeText" class=""
                        placeholder="" >
                    </mat-form-field>
                  </div>
                </div>

              </form>

              <hr class="my-4">

              <div class="d-flex justify-content-between">
                <p class="mb-2">Tổng tiền hàng</p>
                <p class="mb-2">$4798.00</p>
              </div>

              <div class="d-flex justify-content-between">
                <p class="mb-2">Phí giao hàng</p>
                <p class="mb-2">$20.00</p>
              </div>

              <div class="d-flex justify-content-between mb-4">
                <p class="mb-2">Tổng cộng</p>
                <p class="mb-2">$4818.00</p>
              </div>

              <button type="button" class="btn btn-light btn-block btn-lg"
                data-mdb-toggle="modal" data-mdb-target="#exampleModal">
                <div class="d-flex justify-content-between">
                  <span>$4818.00</span>
                  <span>Xác nhận <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                </div>
              </button>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</ng-container>
</section>
<!-- Modal -->
<div style="z-index:99999;"
  class="modal fade" id="exampleModal" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-mdb-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-mdb-toggle="modal"
          data-mdb-target="#confirmModal">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div style="z-index:99999;"
  class="modal fade" id="confirmModal" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-mdb-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
