/* .nav-item{
    
} */
#btn-back-to-top {
  position: fixed;
  bottom: 120px;
  right: 20px;
  z-index:99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
  /* display: none; */
}
.dangxuat {
    pointer-events: none;
    color:rgb(175, 175, 175);
}
.nav-link{
    text-decoration: none;
    color:#db7093;
    font-weight: bold;
    /* position: relative; */
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to right, #db7093, #db7093 50%, black 50%);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
.nav-link:hover{
    background-position: 0 100%;
}