<div class="signup_container" style="margin-top:50px;">

    <!-- <div class="signup_img-left" style="margin-bottom:220px;">
        <img src="../../../assets/library/signup_img1.png" alt="" id="img_left1">
        <img src="../../../assets/library/hello.png" id="img_left2" alt="">
    </div> -->


    <div class="signup_form">
        <div class="signup_title">
            <h1 class="signup_title-text" style="color:#db7093">Đăng ký</h1>

            <div class="signup_subtitle-text">Bạn chưa có tài khoản? Đăng ký ngay!</div>
            <br>
        </div>
        <div class="signup_content">
            <form class="register_form" [formGroup]="regForm" (ngSubmit)="submitUserData(regForm)" >
                <div class="mb-3">
                    <label for="email">Email của bạn<span>*</span></label>
                    <input type="email" id="email" class="form-control" formControlName="email" [class.is-invalid]="regForm.controls['email'].invalid 
                    && regForm.controls['email'].touched">
                    <small class="text-danger" *ngIf="regForm.controls['email'].invalid 
                    && regForm.controls['email'].touched">
                    Email không hợp lệ</small>
                </div>
                <div class="mb-3">
                    <label for="password">Mật khẩu<span>*</span></label>
                    <input name="password" type="password" id="password" class="form-control" 
                    formControlName="password" [class.is-invalid]="regForm.controls['password'].invalid 
                    && regForm.controls['password'].touched">
                    <small class="text-danger" *ngIf="regForm.controls['password'].invalid 
                    && regForm.controls['password'].touched">
                    Mật khẩu tối thiểu 8 ký tự</small>
                    
                </div>
                <div class="mb-3">
                    <label for="confirmPass">Xác nhận mật khẩu<span>*</span></label>
                    <input name="confirmPass" type="password" id="confirmPass" class="form-control" 
                    formControlName="confirmPass" [class.is-invalid]="regForm.errors?.['misMatch']">
                    <small class="text-danger" *ngIf="regForm.errors?.['misMatch']">
                    Vui lòng nhập đúng</small>
                </div>
                <div class="mb-3">
                    <label for="fullName" class="signup_form-label">Họ và Tên <span>*</span></label> <br>
                    <input type="text" name="fullName" class="form-control" id="fullName" formControlName="fullName"
                    [class.is-invalid]="fullName.invalid && fullName.touched">
                    <small class="text-danger" *ngIf="fullName.invalid 
                    && fullName.touched">Phải điền tối thiểu 3 ký tự</small>
                    <small class="text-danger" *ngIf="fullName.errors?.['nameNotMatch']">Họ và tên không được chứa ký tự đặc biệt</small>

                </div>
                <div class="mb-3">
                    <label for="phonenumber">Số điện thoại<span>*</span></label>
                    <input type="text" id="phonenumber" class="form-control" formControlName="phonenumber" name="phonenumber" [class.is-invalid]="regForm.controls['phonenumber'].invalid && regForm.controls['phonenumber'].touched">
                    <small class="text-danger" *ngIf="regForm.controls['phonenumber'].invalid 
                    && regForm.controls['phonenumber'].touched">
                    Vui lòng nhập đúng cú pháp</small>
                </div>
                <div class="mb-3">
                    <label for="address">Địa chỉ <span>*</span></label> <br>
                    <input formControlName="address" type="text" name="address" class="form-control" id="address" [class.is-invalid]="regForm.controls['address'].invalid 
                    && regForm.controls['address'].touched">
                    <small class="text-danger" *ngIf="regForm.controls['address'].invalid 
                    && regForm.controls['address'].touched">Địa chỉ không được để trống</small>
                </div>
                <div class="signup_form-button form-group mb-3">
                    <button class="signup_button" id="reBtn" data-mdb-toggle="modal" data-mdb-target="#confirmModal">Tạo tài khoản</button>
                </div>
                <br>
                <div class="signup_subtitle-text">
                    <p>Bạn đã có tài khoản?</p>
                    <a class="anVaoDeDangNhap" href="/sign-in">Đăng nhập ngay!</a></div>
            </form>
        </div>

    </div>

    <!-- <div class="signup_img-right">
        <img src="../../../assets/library/signup_img2.png" id="img_right" alt="">
    </div> -->

</div>

<div style="z-index:99999;"
class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Đăng ký thành công</div>
      <div class="modal-footer">
        <a href="sign-in">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal" >Đăng nhập</button>
        </a>
        <!-- <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#">Save changes</button> -->
      </div>
    </div>
  </div>
</div>