<div class="signup_container" style="margin-top:50px;">

    <!-- <div class="signup_img-left" style="margin-bottom:220px;">
        <img src="../../../assets/library/signup_img1.png" alt="" id="img_left1">
        <img src="../../../assets/library/hello.png" id="img_left2" alt="">
    </div> -->


    <div class="signup_form">
        <div class="signup_title">
            <h1 class="signup_title-text" style="color:#db7093">Đăng ký</h1>

            <div class="signup_subtitle-text">Bạn chưa có tài khoản? Đăng ký ngay!</div>
            <br>
        </div>
        <div class="signup_content">
            <form class="register_form" [formGroup]="regForm" (ngSubmit)="submitUserData(regForm)" >
                <div class="mb-3">
                    <label for="email">Email của bạn<span>*</span></label>
                    <input type="email" id="email" class="form-control" formControlName="email" [class.is-invalid]="regForm.controls['email'].invalid 
                    && regForm.controls['email'].touched">
                    <small class="text-danger" *ngIf="regForm.controls['email'].invalid 
                    && regForm.controls['email'].touched">
                    Email không hợp lệ</small>
                </div>
                <div class="mb-3">
                    <label for="pass">Mật khẩu<span>*</span></label>
                    <input name="password" type="password" id="pass" class="form-control" 
                    formControlName="password" [class.is-invalid]="regForm.controls['password'].invalid 
                    && regForm.controls['password'].touched">
                    <small class="text-danger" *ngIf="regForm.controls['password'].invalid 
                    && regForm.controls['password'].touched">
                    Mật khẩu tối thiểu 8 ký tự</small>
                </div>
                <div class="mb-3">
                    <label for="confirmPass">Xác nhận mật khẩu<span>*</span></label>
                    <input name="confirmPass" type="password" id="confirmPass" class="form-control" 
                    formControlName="confirmPass" [class.is-invalid]="regForm.errors?.['misMatch']">
                    <!-- <small class="text-danger" *ngIf="regForm.controls['confirmPass'].invalid 
                    && regForm.controls['confirmPass'].touched">
                    Mày phải nhập đúng</small> -->
                    <small class="text-danger" *ngIf="regForm.errors?.['misMatch']">
                    KH phải nhập đúng</small>
                </div>
                <div class="signup_form-row mb-3">
                    <label for="fullName" class="signup_form-label">Họ và Tên <span>*</span></label> <br>
                    <input type="text" name="fullName" id="fullName" class="form-control" formControlName="fullName" [class.is-invalid]="regForm.controls['fullName'].invalid 
                    && regForm.controls['fullName'].touched" >
                    <small class="text-danger" *ngIf="regForm.controls['fullName'].invalid 
                    && regForm.controls['fullName'].touched">Họ và tên phải có tối thiểu 8 kí tự</small>
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
                <div class="mb-3">
                    <label for="phonenumber">Số điện thoại<span>*</span></label>
                    <input type="phonenumber" id="phonenumber" class="form-control" formControlName="phonenumber" [class.is-invalid]="regForm.controls['phonenumber'].invalid 
                    && regForm.controls['phonenumber'].touched">
                    <small class="text-danger" *ngIf="regForm.controls['phonenumber'].invalid 
                    && regForm.controls['phonenumber'].touched">
                    Vui lòng nhập đúng cú pháp</small>
                </div>
                <div class="signup_form-row mb-3">
                    <label for="address" class="signup_form-label">Địa chỉ <span>*</span></label> <br>
                    <input type="text" name="address" class="form-control" formControlName="address" id="address" [class.is-invalid]="regForm.controls['address'].invalid 
                    && regForm.controls['address'].touched">
                    <small class="text-danger" *ngIf="regForm.controls['address'].invalid && regForm.controls['address'].touched"></small>
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
                <div class="signup_form-button form-group">
                    <button class="signup_button" id="reBtn" type="submit">Tạo tài khoản</button>
                </div>
                <br>
                <div class="signup_subtitle-text">
                    <p>Bạn đã có tài khoản?</p>
                    <a class="anVaoDeDangNhap" href="/sign-in">Đăng nhập ngay!</a></div>
            </form>
        </div>

    </div>

    <!-- <div class="signup_img-right">
        <img src="../../../assets/library/signup_img2.png" id="img_right" alt="">
    </div> -->

</div>