<div class="products_detail_container" id='container'>
    <div class="products_main">
        <div class="products_content">
            <div class="products_gallery" id="products_gallery">

                <div class="products_gallery-left">
                    <div class="products_gallery-slider">
                        <!-- <div style="text-align:center" class="dot_container"> -->
                            <!-- <span *ngFor="let i of product.image" class="dot" onclick="showImg()">
                                <img src="../../../assets/{{i}}" alt="">
                            </span> -->
                            <ngx-slick-carousel class="ul-box carousel" 
                #slickModal="slick-carousel" 
                [config]="slideConfig2" 
                (init)="slickInit($event)"
                (breakpoint)="breakpoint($event)"
                (afterChange)="afterChange($event)"
                (beforeChange)="beforeChange($event)">
                    <span ngxSlickItem *ngFor="let i of product.image; index as stt" class="dot" (click)="showImg(stt)">
                            <img src="../../../assets/{{i}}" alt="" >
                    </span>
                </ngx-slick-carousel>
                        <!-- </div> -->
                        <div class="products_detail-img" id="products_detail-img">
                            <!-- <img src="../../../assets/{{product.image[0]}}" alt=""> -->
                            <img src="../../../assets/{{product.image[bigImage]}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="products_infor">
                <div class="products_infor-summary" id="products_infor-summary">
                    <a href="" class="brand_name"></a>
                    <h1 class="products_name">{{product.name}}</h1>
                </div>

                <!-- đây -->

                <div class="products_buybox-wrapper">
                    <div class="products_buybox-options">
                        <div class="products_price">
                            <div class="price-original">
                                <label>Giá bán:</label>
                                <span class="price-amount">
                                    <span class="price"
                                        [class.text-decoration-line-through]="product.discount==''?false:true">{{product.price[0]
                                        | number}} đ</span>
                                    <span style="font-weight: 700;"></span>
                                </span>
                            </div>
                            <div class="price-discount" [class.d-none]="product.discount==''?true:false">
                                <label>Giá khuyến mãi:</label>
                                <span class="price-amount">
                                    <span class="price">{{product.discount}}</span>
                                    <span style="color: #b93505; font-weight: 700;"></span>
                                </span>
                            </div>
                        </div>


                        <div class="availability">
                            <div class="stock">Tình trạng: Còn hàng</div>
                        </div>
                        <div class="button_select-weight" [class.d-none]="product.weight==''?true:false">
                            <div class="weight-label">
                                <label>Chọn trọng lượng</label>
                            </div>
                            <div class="weight-choose">
                                <div>
                                    <!-- <span>{{w}} - {{product.price[i] | number}}</span> đ -->
                                    <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault{{0}}" checked/>
                                    <label class="form-check-label" for="flexRadioDefault{{0}}"> <span>{{product.weight[0]}} - {{product.price[0] | number}} đ</span></label>
                                </div>
                                <div *ngFor="let w of product.weight.slice(1); index as i">
                                    <!-- <span>{{w}} - {{product.price[i] | number}}</span> đ -->
                                        <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault{{i+1}}"/>
                                        <label class="form-check-label" for="flexRadioDefault{{i+1}}"> <span>{{product.weight[i+1]}} - {{product.price[i+1] | number}} đ</span></label>
                                </div>

                            </div>

                        </div>
                        <div class="button_select-color" [class.d-none]="product.colors ==''?true:false">
                            <div class="color-label">
                                <label>Chọn màu sắc</label>
                            </div>
                            <!-- <div class="color-option">
                                <div class="btn_color">
                                    <button *ngFor="let c of product.colors" class="btn_color-select"
                                        [style.background-color]="c"></button>
                                </div>
                            </div> -->
                            <div class="color-choose">
                                <div>
                                    <!-- <span>{{w}} - {{product.price[i] | number}}</span> đ -->
                                    <input class="form-check-input" type="radio" name="flexRadioDefaultx" id="flexRadioDefaultx{{0}}" checked/>
                                    <label class="form-check-label" for="flexRadioDefaultx{{0}}"><span [ngStyle]="{'background-color':product.colors[0]}"></span></label>
                                </div>
                                <div *ngFor="let c of product.colors.slice(1); index as i">
                                    <!-- <span>{{w}} - {{product.price[i] | number}}</span> đ -->
                                    <input class="form-check-input" type="radio" name="flexRadioDefaultx" id="flexRadioDefaultx{{i+1}}"/>
                                    <label class="form-check-label" for="flexRadioDefaultx{{i+1}}"><span [ngStyle]="{'background-color':product.colors[i+1]}"></span></label>
                                </div>

                            </div>
                        </div>
                        <div class="products_buybox">
                            <form action="">
                                <div class="quantity_select" style="float: left;">
                                    <div class="quantity-dropdown">
                                        <label for="quantity">Số lượng</label>
                                        <fieldset data-quantity>
                                            <legend>Change quantity</legend>
                                            <button type="button" title="Down" (click)="minus(product)" class="sub">Down</button>
                                            <input type="number" name="quantity" class="form-control" [(ngModel)]="quantity">    
                                            <button type="button" title="Up" class="add" (click)="plus(product)">Up</button>
                                        </fieldset>

                                        <button type="submit" name="add-to-cart" class="btn_add-to-cart"
                                            (click)=addtoCart(product)>Thêm vào
                                            giỏ hàng</button>
                                    </div>
                                </div>
                            </form>
                            <script type="module">
                                import QuantityInput from './js/quantity.js';

                                // Set up quantity forms
                                (function () {
                                    let quantities = document.querySelectorAll('[data-quantity]');

                                    if (quantities instanceof Node) quantities = [quantities];
                                    if (quantities instanceof NodeList) quantities = [].slice.call(quantities);
                                    if (quantities instanceof Array) {
                                        quantities.forEach(div => (div.quantity = new QuantityInput(div, 'Down', 'Up')));
                                    }
                                })();

                            </script>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="products_detail">
            <div class="products_detail-description">
                <ul class="products_detail-tabs">
                    <li class="tab-active">
                        <p>Thông tin chi tiết sản phẩm</p>
                    </li>
                </ul>
                <div class="products_description-container">
                    <div class="products_description">

                        <div class="products_description-text">
                            <h3 class="products_description-title">Mô tả</h3>
                            <p class="testString" id="description">{{product.description}}</p>
                            <br>
                            <h3 *ngIf="product?.benefit" class="products_description-title">Mục đích</h3>
                            <p class="testString">{{product.benefit}}</p>
                            <br>
                            <h3 *ngIf="product?.instruction" class="products_description-title">Hướng dẫn sử dụng</h3>
                            <p class="testString">{{product.instruction}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description_right">
                <img src="../../../assets/library/cattt.gif" alt="">
                <div>
                    <p>MarPet <br /> tự tin làm <br /> bạn hài lòng</p>
                </div>
            </div>
        </div>
    </div>
</div>